# Pliki wynikowe
main
build/
*.o

# Zostaw źródła ASM
!src/
!src/*.asm

# Zostaw pliki projektowe
!Makefile
!README.md
!.gitignore

# VS Code - tylko wybrane ustawienia
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Devcontainer zostawiamy
!.devcontainer/
!.devcontainer/devcontainer.json
!.devcontainer/Dockerfile
